.Die {
	display: inline-block;
	padding: 0 5px;
}

.Die-default > path {
	fill: white;
}

.Die-locking {
	opacity: 0.7;
}
.Die-locking > path {
	fill: grey;
}

.Die-default:hover,
.Die-locking:hover {
	cursor: pointer;
}

.Die-rolling {
	animation: spin 1.5s ease-out;
}

.Die-disabled:hover,
.Die-rolling:hover {
	cursor: not-allowed;
}

@keyframes spin {
	0% { transform: rotate(0deg) }
	100% { transform: rotate(360deg) }
}